<footer
  class="footer sm:footer-horizontal footer-center bg-base-100 text-base-content rounded-t-xl p-4"
>
  <aside>
    <p>
      Copyright © {new Date().getFullYear()} - Ignacio Revainera
    </p>
  </aside>
</footer>
