---
const { title, subtitle } = Astro.props;
---

<div class="mt-4 mb-10 text-center">
  <h1
    class="text-primary mb-4 text-3xl font-black tracking-tight uppercase sm:text-4xl lg:text-5xl"
  >
    {title}
  </h1>
  <p class="text-base-content/60 text-sm sm:text-base lg:text-lg">
    {subtitle}
  </p>
</div>
