---
const { title, subtitle } = Astro.props;
---

<div class="mt-4 mb-10 text-center">
  <h1
    class="text-primary mb-4 text-4xl font-black tracking-tighter uppercase italic"
  >
    {title}
  </h1>
  <p class="text-gray-500">
    {subtitle}
  </p>
</div>
