---
const { title, subtitle } = Astro.props;
---

<div class="mt-4 mb-10 text-center">
  <h1 class="text-primary mb-4 text-3xl font-black tracking-tight uppercase">
    {title}
  </h1>
  <p class="text-base-content/60">
    {subtitle}
  </p>
</div>
