---
interface Props {
  lightWins: number;
  darkWins: number;
  draws: number;
}

const { lightWins, darkWins, draws } = Astro.props;
---

<div class="grid grid-cols-3 gap-2 text-center">
  {/* Ganó Claro */}
  <div
    class="flex flex-col items-center rounded-xl border-2 border-gray-300 bg-white p-3 text-gray-900"
  >
    <span class="text-sm font-bold uppercase">Claro</span>
    <span class="text-xl font-black">{lightWins}</span>
    <span class="text-xs text-gray-500"> Victorias </span>
  </div>

  {/* Empates */}
  <div
    class="border-warning bg-warning/10 flex flex-col items-center rounded-xl border-2 p-3"
  >
    <span class="text-warning text-xs font-bold uppercase"> Empates </span>
    <span class="text-warning text-xl font-black">
      {draws}
    </span>
    <span class="text-warning/70 text-xs">Igualdad</span>
  </div>

  {/* Ganó Oscuro */}
  <div
    class="flex flex-col items-center rounded-xl border-2 border-slate-700 bg-slate-800 p-3 text-slate-100"
  >
    <span class="text-xs font-bold uppercase">Oscuro</span>
    <span class="text-xl font-black">{darkWins}</span>
    <span class="text-xs text-slate-300">Victorias</span>
  </div>
</div>
