---
interface Props {
  lightWins: number;
  darkWins: number;
  draws: number;
}

const { lightWins, darkWins, draws } = Astro.props;
---

<div class="grid grid-cols-3 gap-2 text-center">
  {/* Ganó Claro */}
  <div
    class="rounded-box flex flex-col items-center border-2 border-gray-300 bg-white p-2 text-gray-900 dark:border-gray-400 dark:bg-gray-300"
  >
    <span class="text-sm font-bold uppercase">Claro</span>
    <span class="text-xl font-black">{lightWins}</span>
    <span class="text-[10px] font-thin text-gray-600 dark:text-gray-700">
      Victorias
    </span>
  </div>

  {/* Empates */}
  <div
    class="rounded-box border-warning flex flex-col items-center border-2 bg-yellow-50 p-2 dark:bg-yellow-900/20"
  >
    <span class="text-warning text-xs font-bold uppercase"> Empates </span>
    <span class="text-warning text-xl font-black">
      {draws}
    </span>
    <span class="text-warning/70 text-[10px]">Igualdad</span>
  </div>

  {/* Ganó Oscuro */}
  <div
    class="rounded-box flex flex-col items-center border-2 border-slate-700 bg-slate-800 p-2 text-slate-100 dark:border-slate-800 dark:bg-slate-950"
  >
    <span class="text-xs font-bold uppercase">Oscuro</span>
    <span class="text-xl font-black">{darkWins}</span>
    <span class="text-[10px]">Victorias</span>
  </div>
</div>
